/* .About {
	background-color: black;
	height: 100vh;
}

.About-Container {
	margin: 0 auto;
	width: 960px;
	display: flex;
	padding-left: 70px;
}

.About-Section {
	padding: 0px 24px;
}

.Profile-Pic {
	width: 350px;
	padding: 24px;
}


.Body {
	color: white;
} */

.About {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: black;
}

.About-Container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	width: 1000px;
	padding: 0px 150px;
}

.Header {
	color: #add8e6;
	font-size: 30px;
	font-weight: bold;
}
.Tech-Lists,
.List {
	padding: 10px 0px;
	line-height: 20px;
}

.Body {
	color: white;
	padding: 10px 0px;
	padding-right: 24px;
	line-height: 24px;
}

.Profile-Pic {
	width: 350px;
}

@media screen and (max-width: 768px) {
	.About-Container {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 0px;
		width: 400px;
		padding-bottom: 80px;
	}
	.About-Section {
		padding: 0;
	}
	.Header,
	.List,
	.Body,
	.Tech-Lists {
		padding: 10px 0px;
		padding-left: 20px;
	}
	.Profile-Pic {
		width: 350px;
		padding: 20px 0px;
		padding-left: 20px;
	}
}
